<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ejurouter.router_sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.TargetActivity"/>
        <activity android:name=".activity.RouterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DefaultActivity"/>
        <activity android:name=".activity.TargetFragmentActivity"/>
        <activity
            android:name=".activity.TargetWebViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="com.ejurouter.router_sdk.action.DEFAULT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="*"/>
                <data android:scheme="eju" android:host="*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>